/* ACCESSIBILITY */

@media (max-width: 575.98px) {
    .blurb {
        font-size: 5vw;
    }

}

@media (max-width: 767.98px) {

    .container-fluid,
    .container-xl {
        margin-top: 4vw !important;
        margin-bottom: 4vw !important;
    }

    .col-2 {
        padding: 1vw !important;
    }

    .option {
        font-size: 3.5vw;
    }

    .blurb {
        font-size: 3vw;
    }
}

@media (max-width: 991.98px) {
    .blurb {
        min-height: 4.7rem;
    }
}

.active {
    /* accessibility */
    transform: scale(1.1);
}