:root {
    /* 
    Using an RGB triplet allows you to create color variants later with the prop and  rgba()
    https://stackoverflow.com/a/41265350/441878 
    */
    --rose: 237, 91, 102;
    --gold: 229, 180, 89;
    --cyan: 56, 179, 194;
    --green: 135, 195, 92;
    --purple: 190, 86, 221;
    --magenta: 240, 91, 189;
}


/* COLORS */

.blurb {
    min-height: 2rem;
}
.blurb span {
    padding-bottom: .8rem;
    display: inline-block !important;
}

.blurb .rose {
    border-bottom: var(--borderSize) solid rgb(var(--rose)) !important;
}

.option.rose {
    border: var(--borderSize) solid rgba(var(--rose), var(--optionOpacity)) !important;
}

.option.rose.active {
    background-color: rgba(var(--rose), var(--optionOpacityActive));
}

.blurb .gold {
    border-bottom: var(--borderSize) solid rgb(var(--gold)) !important;
}

.option.gold {
    border: var(--borderSize) solid rgba(var(--gold), var(--optionOpacity)) !important;
}

.option.gold.active {
    background-color: rgba(var(--gold), var(--optionOpacityActive));
}

.blurb .green {
    border-bottom: var(--borderSize) solid rgb(var(--green)) !important;
}

.option.green {
    border: var(--borderSize) solid rgba(var(--green), var(--optionOpacity)) !important;
}

.option.green.active {
    background-color: rgba(var(--green), var(--optionOpacityActive));
}

.blurb .cyan {
    border-bottom: var(--borderSize) solid rgb(var(--cyan)) !important;
}

.option.cyan {
    border: var(--borderSize) solid rgba(var(--cyan), var(--optionOpacity)) !important;
}

.option.cyan.active {
    background-color: rgba(var(--cyan), var(--optionOpacityActive));
}

.blurb .purple {
    border-bottom: var(--borderSize) solid rgb(var(--purple)) !important;
}

.option.purple {
    border: var(--borderSize) solid rgba(var(--purple), var(--optionOpacity)) !important;
}

.option.purple.active {
    background-color: rgba(var(--purple), var(--optionOpacityActive));
}

.blurb .magenta {
    border-bottom: var(--borderSize) solid rgb(var(--magenta)) !important;
}

.option.magenta {
    border: var(--borderSize) solid rgba(var(--magenta), var(--optionOpacity)) !important;
}

.option.magenta.active {
    background-color: rgba(var(--magenta), var(--optionOpacityActive));
}



/* USERS */

.face {
    border-radius: 50%;
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    max-width: 200px;
    max-height: 200px;
}

.showAffected .face {
    transition-property: opacity;
    transition-duration: 1s;
    opacity: .2;
}

.showAffected .face:hover {
    opacity: .5;
}
