/* Chapter 7 asset - Base styles for example (and exercise) */

:root {
    --background: 228, 219, 219;
    --color: 33, 37, 41;
    --borderSize: .4rem;
    --optionOpacity: .8;
    --optionOpacityActive: 1;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: rgb(var(--color));
    background-color: rgb(var(--background));
}

.grid-container {
    display: grid;
    gap: .5rem;
    grid-template-rows: repeat(4, minmax(5rem, 1fr));
    grid-auto-flow: column;
}

.option {
    border-radius: 50%;
    background-color: rgb(var(--background));
    border: var(--borderSize) solid rgb(var(--color));
    font-size: 2rem;
    font-weight: 500;
    opacity: var(--optionOpacity);
    /* sizing */
    width: 100%;
    max-width: 10rem;
    height: auto;
    aspect-ratio: 1/1;
    padding: .4rem;
    /* vertical align */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.option.active {
    opacity: var(--optionOpacityActive);
    background-color: rgb(var(--color));
    color: white;
}

.active {
    transition-property: transform;
    transition-duration: .5s;
}



/* Adds accessibility improvements - mainly condenses whitespace, decrease font size, etc. */

@media (max-width: 575.98px) {

    /*  update font size to fit */
    .blurb {
        font-size: 5vw;
    }
}

@media (max-width: 767.98px) {

    /* make padding relative to viewport size */
    .container-fluid,
    .container-xl {
        margin-top: 4vw !important;
        margin-bottom: 4vw !important;
    }

    .col-2 {
        padding: 1vw !important;
    }

    /*  update font size to fit */
    .option {
        font-size: 3.5vw;
    }

    .blurb {
        font-size: 3vw;
    }
}

@media (max-width: 991.98px) {

    /* so portraits don't shift for long blurbs */
    .blurb {
        min-height: 4.7rem;
    }
}