* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #e6ce55;
  font-family: Helvetica, Arial, sans-serif;
}

.cssBackgroundImg {
  background-image: url(../img/wrench.png);
  width: 400px;
  height: 400px;
  margin: 64px auto;
}

.cssBackgroundImg:hover {
  background-image: url(../img/clock.png);
  cursor: crosshair;
}

.text {
  display: block;
  width: 50%;
  margin: 96px auto;
  /* border: 1px solid black; */
  /* turn borders off and on to see the borders of the display area */
}

@font-face {
  font-family: "Futura Press";
  src: url(FUTURAPR.woff) format("woff"),
       url(FUTURAPR.ttf)  format("truetype");
}

h1 {
  color: black;
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-family: "Futura Press", Helvetica, Arial, sans-serif;
  color: dodgerblue;
  font-size: 2.5rem;
  text-align: left;
}

h3 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  text-align: right;
  margin-top: -2.5rem;
}

h3 a:link,
a:visited {
  color: dodgerblue;
  text-decoration: none;
}

h3 a:hover {
  color: white;
}
