* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #e6ce55;
  font-family: Helvetica, Arial, sans-serif;
}

.text {
  display: block;
  width: 50%;
  margin: 6rem auto;
  /* border-color: black; border-style: solid; */
  /* turn borders off and on to see the borders of the display area */
}

h1 {
  color: black;
  font-size: 3rem;
  text-align: center;
}

h2 {
  color: dodgerblue;
  font-size: 2.5rem;
  text-align: left;
}

h3 {
  font-size: 1rem;
  text-align: right;
  margin-top: -2.5rem;
}

h3 a:link,
a:visited {
  color: dodgerblue;
  text-decoration: none;
}

h3 a:hover {
  color: white;
}
